<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="css/gallery.css">
    
</head>
<body>

  <div class="topnav">
        <a href="" class="ram" >Home</a>
        <a href="" class="ram">About</a>
        <a href="" class="ram">Contact</a>
        <a href="" class="ram">Referals</a>
        <a href="" class="ram">Careers</a>
        <a href="" class="ram">Auditor</a>
    </div>
    <!--placeholder to fill reult details ie it is text area-->
<div class="ram1">
    
    <img id="logo"  src="images/Img1cbse.png" alt="">
    <h1 id="para" my-60px>केंद्रीय माध्यमिक शिक्षा बोर्ड</h1> <br>
<h1 id="para2">Central Board of Secondary Education</h1>
</div>
</body>
</html>