<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="css/gallery.css">
    
</head>
<body>
{{>navbar}}
<div>
    <br><br><br>
    <h1>This information brought to you by nic</h1>
</div>
{{>footer}}
</body>
</html>