<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/gallery.css">
</head>
<body>
      {{>navbar}}
      <br><br><br>
<div class="content-section">
    <h2 id="er">Examination Results 2022</h2>
    <h4 id="nic" >Brought to you by National Informatics Centre</h4>
</div>
<div class="">
    <h3 id="xii">Senior School certificate Examination(class XII) Results 2022</h3>
</div>
<div class="stdetails">
    <div class="apple">
    <label for="Roll">Enter your Roll Number</label>
    <input type="number">
</div>
<div class="apple"><label for="Roll">Enter your School Number</label>
    <input type="number">
</div>
  <div class="apple">
<label for="Name">Enter your Name</label>
<input type="text" id="name" placeholder="enter your name">
<p id="parao">(as given in your admit card)</p>
</div>
</div>
<div class="submit-button">
    <button id="bone" type="button" >Submit</button>
    <button id="btwo" type="button" >Reset</button>
</div>
 {{>footer}}
</body>
</html>